<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>INAVI</title>
    <link rel="icon" type="image/x-icon" href="/statics/images/favicon_navi.png">
    <link rel="stylesheet" href="statics/styles/icons.css">
    <link rel="stylesheet" href="statics/styles/app.css">
    <script type="text/javascript" src="statics/scripts/mqtt/paho/mqttws31.js" defer></script>
    <script type="module" src="statics/scripts/app.js" defer></script>
    </head>
    <header>{% include 'header.html'%}</header>
    <body class="preload">
        <div class="grid-container">
            <nav class="nav grid-item grid-item-sidebar">{% include 'navigation.html'%}</nav>
            <div id="connection" class="grid-item grid-item-connection">{% include 'widgets/connection.html'%}</div>
            <div id="nodes" class="grid-item grid-item-nodes">{% include 'widgets/nodes.html'%}</div>
            <div id="log" class="grid-item grid-item-log">{% include 'widgets/logs.html'%}</div>
            <div id="config" class="grid-item grid-item-config-configuration"></div>
        </div>
    </body>
</html>