<h3>Options</h3>
<div class=nav_links>
    <button id="configuration" class="nav_link nav_link__active"><i class="material-icons-round">tune</i>Configuration</button>
    <button id="node_detection" class="nav_link"><i class="material-icons-round">radar</i>Detect Nodes</button>
    <button id="add_node" class="nav_link"><i class="material-icons-round">add</i>Add Node</button>
    <button id="del_node" class="nav_link"><i class="material-icons-round">remove</i>Delete Node</button>
    <button id="mqtt_test" class="nav_link"><i class="material-icons-round">leak_add</i>MQTT Test</button>
    <!-- <button id="docs" class="nav_link"><i class="material-icons-round">description</i>Docs</button> -->
</div>
<div class=nav_overlay></div>