<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="config">
      <ion-label>Config</ion-label>
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
