:root {
  --main-radius:10px;
  --main-padding:6px;
  --dark-primary: #1d2731;
  --main-primary: #0B3C5D;
  --main-secondary: #328CC1;
  --minor-primary: #D9B310;
  --minor-secondary: #ddbd2d;
  --light-background: #e9eefd;
}
/* SCROLLBAR DESIGN */
::-webkit-scrollbar {
  width: 7px}
::-webkit-scrollbar-track{
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: var(--main-primary);}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--minor-primary);}
/* ---------------------------------------------------------------------------- */
/* GENERAL */
  * {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--main-primary);
  text-transform: uppercase;
  /* background-color: var(--light-background); */
  /* text-align: center; */
  height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.scroll_wrapper {
  height: 98%;
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: "content";
}

.resize * {
  transition: none !important;
}

h3 {
  background-color: var(--main-primary);
  color: white;
  margin: 0;
  padding: 0.2rem;
  padding-left: 0.5rem;
  font-weight: 400;
}
/* ---------------------------------------------------------------------------- */
/* BUTTON */
.btn {
  display:inline-block;
  padding:0.3em 0.5em;
  margin:0 0.3rem 0 0.3rem;
  border-radius:0.3rem;
  border: 1.3px solid var(--main-primary);
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  text-transform:uppercase;
  font-weight:400;
  font-size: 12px;
  color:#FFFFFF;
  background-color:var(--main-primary);
  /* box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17); */
  text-align:center;
  position:relative;
  cursor: pointer;
  width: 5.8rem;

}
.btn:hover {
  /* border-color: var(--minor-primary); */
  border: 1.3px solid var(--minor-primary);
  /* color: var(--minor-primary); */
  /* bottom:0.1em; */
}
/* ---------------------------------------------------------------------------- */
/* ----- MAIN GRID FORMATING -----*/
.grid-container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 0.3fr minmax(14rem, auto) 0.5fr 1.5fr;
  grid-template-rows: 1fr 0.6fr 17rem;
  grid-template-areas:
    "sidebar connection log log"
    "sidebar connection nodes nodes"
    "sidebar config config config";
  gap: 0.1rem;
}

.grid-item {
  border-radius: var(--main-radius);
  /* padding: var(--main-padding); */
  background-color: var(--light-background);
  /* border: 2px solid var(--main-primary); */
  box-shadow: rgba(17, 17, 26, 0.7) 0px 0px 16px;
  /* padding: 1.5rem; */
  margin: 6px;
  overflow: hidden; 
}

header { /* grid item */
  display: flex;
  /* background-color: var(--dark-primary); */
  grid-area: header;
  width: 100%;
  border: none;
  margin: none;
  height: 2rem;
  /* color: white; */
  text-align: left;
}
header h2 {
  padding-top: 0.8rem;
  font-weight: 400;
}

header > i {
  margin: 0.65rem -0.3rem 0.65rem 0.2rem;
}

.grid-item-sidebar {
  grid-area: sidebar;
  overflow: hidden;
  min-width: 10rem;
  max-height: 100%;
}

.grid-item-connection {
  grid-area: connection;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4rem 0.6fr 2.5rem;
  max-height: 20rem;
  min-height: 16rem;
}
.grid-item-connection form {
  justify-self: center;
  padding-top: 0.2rem;
}

.grid-item-connection form button[type="submit"] {
  margin-right: 0;  
}

.grid-item-connection form button[type="button"] {
  margin-left: 0;  
}

.grid-item-nodes {
  grid-area: nodes;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "online config";
  min-height: 8rem;
  /* justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: start; */
}

.grid-item-nodes h3{
  padding-left: 0;
}

.grid-item-log {
  grid-area: log;
  display: grid;
  grid-template-rows: 1.4rem 1fr;
  /* overflow: auto; */
  max-height: 10rem; /*wont scroll otherwise will expand*/
}

.grid-item-config-configuration,
.grid-item-config-mqtt_test {
  grid-area: config;
  display: grid;
  /* justify-self: end; */
  grid-template-columns: 1fr;
  grid-template-rows: 1.4rem 3rem 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--light-background);
}

.grid-item-config-mqtt_test {
  grid-area: config;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 0.2fr 1fr;
  align-items: start;
  background-color: var(--light-background);
}
.grid-item-config h2 {
  grid-area: title;
}
/* ---------------------------------------------------------------------------- */
/* ----- MAIN NAVIGATION FORMATING -----*/
.burger_btn {
  visibility: hidden;
  opacity: 0;
}
.nav_links {
  background: var(--light-background);
}
.nav_link {
  display: flex;
  align-items: center;
  color: var(--main-primary);
  /* font-weight: bold; */
  font-size: inherit;
  text-decoration: none;
  padding: 8px 10px;
  background: none;
  border: none;
  width: 100%;
  text-transform: uppercase;
  border-left: 0.2rem solid var(--light-background);
}
.nav_link > i {
  margin-right: 10px;
}

.nav_link__active {
  /* border-radius: 6px; */
  /* margin: 2px; */
  /* background: white; */
  color: var(--minor-primary);
  border-left: 0.2rem solid var(--minor-primary);
  font-weight: 700;
}

.nav_link:hover {
  /* border-radius: 6px; */
  /* margin: 2px; */
  /* background: white; */
  border-right: 0.2rem solid var(--minor-primary);
  font-weight: 700;
}

.nav_overlay, .node_overlay, .spin_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  z-index: 1; /* hides labels*/
  opacity: 0;
  transition: opacity 0.3s;
}
/* ---------------------------------------------------------------------------- */
/* ----- FORM FORMATING ----- */
.form__group {
  margin: 0.2rem 0.3rem 0.2rem 0.3rem;
  position: relative;
  width: 100%;
  transition: all 0.3s;
}

.form__label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 8px;
  background-color: var(--light-background);
  opacity: 1;
  transform-origin: 0 0;
  transition: all .3s;
  /* font-weight: bold; */
}

.form__input {
  display: block;
  width: 100%;
  background: none;
  outline: none;
  border: 1.5px solid var(--main-primary);
  border-radius: 3px;
  padding: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  color: var(--main-primary)

}
.form__input:hover {
  border-color: var(--minor-secondary);
}
.form__input:focus {
  border-color: var(--minor-primary);
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label
{
  transform: translateY(-0.6rem) scale(0.7);
}
.form__input::placeholder{ /* for uprising animation, otherwise wont come down */
  color: transparent;
}
/* ---------------------------------------------------------------------------- */
/* ----- CONFIGURATION ----- */
.led_box {
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 1.6rem auto;
  display: flex;
}
.green_led {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.red_led {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
.red_led, .green_led {
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.led_box p{
  /* font-weight: bold; */
  width: 6rem;
}
/* ---------------------------------------------------------------------------- */
/* ----- CONFIGURATION ----- */
.conf_title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  width: 100%;
  height: 100%;
}
.conf_options {
  /* grid-area: e; */
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: end;
}

.conf_param input[type='checkbox'] {
  margin: 0 0 0 0.3rem;
}

.conf_param > label {
  margin: 0 0.3rem 0 0.2rem;
  /* font-weight: bold; */
}

.btn_option{
  display:inline-block;
  padding:0.5em 0.7em;
  margin:0.2rem 0.3em 0.3em 0;
  border-radius:0.4em;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:400;
  color:#FFFFFF;
  background-color:var(--main-primary);
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  cursor: pointer;
  min-width: 100px;
}
.btn_option:hover{
  background-color: var(--minor-primary);
}
.active_op {
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  background-color: var(--minor-primary);
}

.sin, .pwm, .custom {
  grid-column-start: 1;
  grid-row-start: 3;
  width: 100%;
}
.configuration_param, .custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.configuration_param .form__group {
  max-width: 50%;
}
.conf_param {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.1rem;
}

.drag_container_config{
  grid-area: nodes;
  width: 100%;
  height: 100%;
}
.drag_container_online{
  grid-area: online;
  border-right: 0.12rem solid var(--main-primary);
  text-align: center;
  display: grid;
  grid-template-rows: 1.4rem 1fr;
  overflow: auto;
}
.drag_container_configure{
  grid-area: config;
  text-align: center;
  display: grid;
  grid-template-rows: 1.4rem 1fr;
  overflow: auto;
}

.drop_zone{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.drop_zone h3 {
  grid-area: 1;
}
.drop_zone button {
  grid-area: 2;
}
.nodes_to_configure h1{
  position: absolute;
  background-color: #343434;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 4px;
}
.node {
  /* display: flex; */
  position: relative;
  width: 96%;
  padding:0.2rem 0.2rem;
  margin:0.1rem 0.1rem;
  border:0.1rem solid var(--main-primary);
  border-radius:0.3rem;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: white;
  background-color: var(--minor-primary);
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}
.node:hover{
  border-color: rgba(255,255,255,1);
}
/* ----- MQTT TEST ----- */
.mqtt_subscribe {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: end;
  padding-right: 1rem;
}

.mqtt_publish {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: start;
  padding-left: 1rem;
}
/* ----- ADD/DELETE NODE ----- */
.add_node_win, .del_node_win, .detect_win {
  display: grid;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100vw;
  height: 100vh;
}
.node_overlay {
  opacity: 1;
  visibility: visible;
  /* transition: opacity 0.3s ease; */
}
.add_node_content {
  position: relative;
  /* left: 50%; */
  /* top:50%; */
  /* transform: translate(-50%,-50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--light-background);
  box-shadow: 0 2px 4px rgba(0, 0,0, 0.2);
  border-radius: 5px;
  width: 60vw;
  z-index: 2;
  /* max-width: 80%; */
  min-width: 360px;
  overflow: hidden;
  /* text-align: center; */
}
.detect_win_content {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  background-color: var(--light-background);
  box-shadow: 0 2px 4px rgba(0, 0,0, 0.2);
  border-radius: 5px;
  width: 90vw;
  height: 90vh;
  z-index: 2;
  /* max-width: 80%; */
  min-width: 360px;
  overflow: hidden;
}
/* Reuse same class! */
.add_node_content form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_node_content h3 {
  align-self: stretch;
  text-align: center;
}
.add_node_content .form__group {
  margin: 0.4rem 0.1rem;
}

.popup__open {
  overflow: hidden;
}
.spin_overlay {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  visibility: visible;
  opacity: 1;
}
.add_node_content p {
  margin: 0.5rem;
}
.spin_box {
  display: grid;
  position: relative;
}
.spin_box p {
  text-shadow: white 0px 0px 10px;
}

.load_spinner {
  /* margin: 50% auto; */
  justify-self: center;
  width: 40px;
  height: 40px;
  border: 5px solid var(--main-primary);
  border-radius: 50%;
  border-top-color: var(--minor-primary);
  animation: spin 1s infinite;
}
@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}
/* ----- DETECT NODES ----- */
/* .img_ctrl_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.img {
  grid-row: 1;
  align-self: center;
  /* justify-self: center; */
  margin: 0.3rem;
  text-align: center;
}
.img img{
  /* object-fit: contain; */
  width: 80%;
  height: auto;
  max-width: 800px;
}

.img_ctrl {
  grid-column: 1;
  grid-row: 1;
  /* display: table; */
  /* overflow-y: auto; */
  /* width: 200px; */
  /* height: 150px; */
  /* background-color: #89FF00; */
}
.img_ctrl p {
  display: inline-block;
  text-transform: lowercase;
}

.img_ctrl .form__input {
  display: unset;
  width: 50%;
}

.rob_ctrl {
  grid-column:2;
  grid-row: 1;
  /* overflow-y: auto; */
  /* width: 200px; */
  /* height: 150px; */
  /* background-color: #ff0000; */
}

.ctrl_grid {
  position: relative;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1.3rem 1fr; */
  grid-template-rows: 100%;
  justify-self: center;
  width: 98%;
  max-height: 20rem;
  /* background-color: #328CC1; */
  border-radius: 0.3rem;
  /* overflow: hidden; */
  overflow: unset;
}
.detect_node_content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: auto;
  justify-items: center;
  align-items: stretch;
  height: 95%;
}
.detect_node_content #close{
  position: absolute;
  top: 100%;
  margin: 0.2rem 0;
}

.ctrl_grid h2 {
  grid-row: 1;
  font-size: 12px;
  justify-self: center;
  align-self: center;
  background-color: var(--minor-primary);
  padding: 0.1rem;
  padding-left: 1rem;
  padding-top: 0.4rem;
  margin-bottom: 0.4rem;
  width: 100%;
}

#cch2 {
  grid-column: 1;
}
#rch2 {
  grid-column: 1;
}

.form__group .led_box {
  display: unset;
  margin: none;
}
.form__group .led_box .red_led, .form__group .led_box .green_led {
  display: inline-block;
  position: absolute;
  margin: 0 0.5rem;
}
/* ---------------------------------------------------------------------------- */
/* ----- LOGS ----- */
.grid-item-log h3 {
  grid-area: 1;
  background-color: var(--main-primary);
  color: white;
  margin: 0;
}
.logs {
  grid-area: 2;
  text-transform: none;
  overflow: auto;
}
.logs p {
  margin-left: 0.1rem;
  padding: 0.1rem;
}
/* ---------------------------------------------------------------------------- */
@media only screen and (max-width: 770px){
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.4fr 1fr 5rem;
    grid-template-areas:
      "connection"
      "nodes"
      "config"
      "log";
    gap: 0;
    align-content: center;
    justify-items: center;
    /* align-items: center; */
  }
  .grid-item-config-configuration {
    max-width: none;
  }

  .grid-item-sidebar h3 {
    visibility: hidden;
  }

  .grid-item {
    width: 98%;
  }
  .grid-item-log{
    min-height: 10rem;
  }
  .preload * {
    transition: none !important;
  }
  
  .burger_btn {
    visibility: visible;
    opacity: 1;
    background: none;
    outline: none;
    border: none;
    /* color: white; */
    cursor: pointer;
    padding-left: 0.4rem;
    padding-top: 0.65rem;
  }

  .nav_links {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 250px;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    transition: transform 0.3s;
  }

  .nav_link {
    background: transform 0.2s;
  }

  .nav__open .nav_links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .nav__open .nav_overlay {
    visibility: visible;
    opacity: 1;
  }

  .detect_node_content {
    grid-template-columns: 100%;
    /* grid-template-rows: 1fr 0.5fr 1.3rem 0.5fr; */
  }
  .ctrl_grid {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    max-height: 30rem;
  }
  
  .rob_ctrl {
    grid-column:1;
    grid-row: 2;
  }
  #rch2 {
    grid-column: 1;
    grid-row: 1;
  }
  .img img{
    width: 80%;
    height: auto;
  }
}

.arrow_box {
  width: 100%;
  /* height: 48%; */
  margin: 0.4rem 0 0;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  /* position: relative; */
  display: grid;
}

.robo-movement-btns {
  width: 2rem;
  height: 2rem;
  grid-column: 1;
  grid-row: 1;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}

.arrow_box .up-btn{
  transform: translateY(-100%);
}

.arrow_box .down-btn{
  transform: translateY(100%);
}

.arrow_box .left-btn{
  transform: translate(-100%);
}

.arrow_box .right-btn{
  transform: translate(100%);
}

#control-circle {
  width: 7rem;
  height: 7rem;
  border-radius: 100px;
  background: darkgrey;
  grid-column: 1;
  grid-row: 1;
}

.title_wrap {
  display: grid;
  grid-template-areas: 
  "title"
  "content";
  grid-template-rows: 1.2rem 1fr;
  height: 100%;
}

.title_wrap h2 {
  grid-area: "title";
}

.per-controls {
  width: 100%;
  /* height: 45%; */
  align-items: center;
  display: grid;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0.4rem 0 0.4rem;
}

.per-controls .flash{
  margin: 0.2rem auto;
  width: 5rem;
  height: 2rem;
}

.per-controls .flash.on{
  background-color: var(--minor-primary);
}

.robot-slider {
  margin: 0.2rem;
  -webkit-appearance: none;
  width: 98%;
  height: 1rem;
  border-radius: 0.5rem;
  background: #d3d3d3;
  outline: none;
  /* opacity: 0.7; */
  transition: opacity .2s;
}

.robot-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%; 
  background: var(--main-primary);
  cursor: pointer;
}

.robot-slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--main-primary);
  cursor: pointer;
}

.image_ctrl
{
  width: 100%;
  /* height: 45%; */
  display: grid;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0.4rem 0 0.4rem;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
}

.rob_ctrl_dropdown
{
  margin: auto;
  /* -webkit-appearance: none; */
  width: 98%;
  height: fit-content;
  border-radius: 0.5rem;
  background: #d3d3d3;
  outline: none;
  transition: opacity .2s;
  font-size: inherit;
  font-family: inherit;
  font-weight: 400;
  border: 2px solid var(--main-primary);
  color: var(--main-primary);
  margin: 0.2rem;
}

/* ROUNDED SWITCH DEBUG */
/* The switch - the box around the slider */
.capture_switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin: 0.2rem 0;
}

/* Hide default HTML checkbox */
.capture_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d3d3d3;
  transition: .4s;
}

.switch_slider:before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: white;
  transition: .4s;
}

input:checked + .switch_slider {
  background-color: var(--main-primary);
}

input:focus + .switch_slider {
  box-shadow: 0 0 1px var(--main-primary);
}

input:checked + .switch_slider:before {
  -webkit-transform: translateX(1.4rem);
  -ms-transform: translateX(1.4rem);
  transform: translateX(1.4rem);
}

/* Rounded sliders */
.switch_slider.round {
  border-radius: 1rem;
}

.switch_slider.round:before {
  border-radius: 50%;
}

.capture_switch_label
{
  position: relative;
  left: 0%;
  top: 15%;
  vertical-align: -30%;
  margin: 0.2rem;
}
