<form [formGroup]="configForm">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item>
          <ion-label position="undefined">
            <h1>End Device Configuration</h1>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item lines="none">
          <ion-label position="undefined">
            <h2>Modulation Type</h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item>
          <ion-segment value="pwm" formControlName="modulation"
          (ionChange)="modulationSegChanged($event)">
            <ion-segment-button value="pwm">
              <ion-label>PWM</ion-label>
            </ion-segment-button>
            <!-- <ion-segment-button value="ofdm">
              <ion-label>OFDM</ion-label>
            </ion-segment-button> -->
            <ion-segment-button value="sin">
              <ion-label>SINUS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ook">
              <ion-label>OOK</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-col>
    </ion-row>
    <app-pwm *ngIf="this.modulationType=='pwm'"
    (onPwmFormChange)="updateFormValuesPwm($event)"></app-pwm>
    <app-ofdm *ngIf="this.modulationType=='ofdm'"
    (onOfdmFormChange)="updateFormValuesOfdm($event)"></app-ofdm>
    <app-ook *ngIf="this.modulationType=='ook'"
    (onOokFormChange)="updateFormValuesOok($event)"></app-ook>
    <app-sinus *ngIf="this.modulationType=='sin'"
    (onSinusFormChange)="updateFormValuesSinus($event)"></app-sinus>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-button
        type="submit"
        class="primary"
        expand="block"
        [disabled]="!configForm.valid"
        (click)="onFormSubmit()">
          Configure
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> 
</form>


<!-- <app-pwm *ngIf="this.modulationType=='pwm'"
    [modulationForm]="configForm"
    (onPwmFormChange)="updateFormValuesPwm($event)"></app-pwm>
    <app-ofdm *ngIf="this.modulationType=='ofdm'"
    [modForm]="configForm"
    (onOfdmFormChange)="updateFormValuesOfdm($event)"></app-ofdm> -->