<form [formGroup]="configFormOok">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="2">
        <ion-item>
          <ion-label position="floating">
            Frequency constant
          </ion-label>
          <ion-input 
          type="number" 
          value="number"
          inputmode="numeric"
          clear-input="true"
          formControlName="frequency"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="2">
        <ion-item lines="none">
          <ion-toggle color="primary"
          (ionChange)="toggleFreqChanged()"
          formControlName="variableFreq"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item>
          <ion-segment formControlName="freqUnits"
          (ionChange)="unitSegChanged($event)"
          value="0">
            <ion-segment-button value="0">
              <ion-label>Hz</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>kHz</ion-label>
            </ion-segment-button>
            <ion-segment-button value="6">
              <ion-label>MHz</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="2">
        <ion-item>
          <ion-label position="floating">Log0</ion-label>
          <ion-input
          type="number" 
          value="number"
          inputmode="numeric"
          clear-input="true"
          formControlName="logZeroAmp"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="4">
        <ion-item>
          <ion-label position="floating">Log1</ion-label>
          <ion-input
          type="number" 
          value="number"
          inputmode="numeric"
          clear-input="true"
          formControlName="logOneAmp"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item>
          <ion-label position="floating">Number of nodes</ion-label>
          <ion-input min="1" type="number" formControlName="nodesNum"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
