<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>We are sorry, but settings hasn't been implemented yet.</p>
  </ion-item>
</ion-content>
