<ion-header>
  <ion-toolbar text-center>
      <ion-title>System configuration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item>
          <ion-label><h1>MQTT Broker</h1></ion-label>
        </ion-item> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="2">
        <ion-button expand="block" (click)="mqttConnect()">Connect</ion-button>
      </ion-col>
      <ion-col size-sm="4">
        <ion-button expand="block" (click)="mqttDisconnect()">Disconnect</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item lines="none">
          <ion-label><h2>Status: {{mqttState}}</h2></ion-label>
        </ion-item> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <app-modulations
  (onSubmit)="configureNaviSystem($event)">
  </app-modulations>
    <!-- <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label>
              <h1>MQTT Websockets Test</h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-input
            placeholder="New MQTT Topic"
            [(ngModel)]="topicName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-button type="button"
          expand="block"
          (click)="subscribeNewTopic()">
            Subscribe
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-input
            placeholder="Message"
            type="text"
            ngModel name="msg"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3"> 
          <ion-button type="button"
          expand="block"
          (click)="sendMsg()">
            Send Msg
          </ion-button>
        </ion-col>
      </ion-row> 
    <ion-grid> -->
    
</ion-content>
