<h3>Connection</h3>
<form id="connect_form">
    <div class="conf_param">
        <div class="form__group">
            <input id="server" class="form__input" type="text" placeholder="server">
            <label for="server" class="form__label">Server</label>
        </div>
    </div>
    <div class="conf_param">
        <div class="form__group">
            <input id="port" class="form__input" type="text" placeholder="port">
            <label for="port" class="form__label">Port</label>
        </div>
    </div>
    <div class="conf_param">
        <input id="cl_ses" type="checkbox" value="true" checked>
        <label for="cl_ses">Clean Session</label>
    </div>
    <div class="conf_param">
        <div class="form__group">
            <input id="username" class="form__input" type="text" value="" placeholder="user">
            <label for="username" class="form__label">Username</label>
        </div>
    </div>
    <div class="conf_param">
        <div class="form__group">
            <input id="password" class="form__input" type="password" value="" placeholder="pswd">
            <label for="password" class="form__label">Password</label>
        </div>
    </div>
    <button class="btn" type="submit" value="Connect">Connect</button>
    <button id="disconnect" class="btn" type="button" value="Disconnect">Disconnect</button>
</form>
<div id="led_b" class="led_box">
    <div class="red_led"></div>
    <p>Disconnected</p>
</div> 