<div class="drag_container_online">
    <h3>Available Nodes</h3>
        <div id="online_nodes_zone" class="drop_zone"></div>
    </div>
    <div class="drag_container_configure">
        <h3>Configure Nodes</h3>
    <div id="configure_nodes" class="drop_zone"></div>
</div>