<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Indoor Navigation Project</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <h1>Indoor Navigation Project</h1>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input
              type="email"
              clear-input="true"
              placeholder="E-mail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
              type="password"
              placeholder="Password"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" expand="block" (click)="onLogin()">
          Login
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </form>
</ion-content>

<!-- <ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-col size="8" offset="2">
        <ion-item lines="none">
          <ion-label>
            <h1>Indoor Navigation Project</h1>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-item-group>
            <ion-item lines="none">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input
              type="email"
              clearInput="true"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input
              type="password"></ion-input>
            </ion-item>
          </ion-item-group>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button color="primary" (click)="onLogin()">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content> -->
